:host {
    width: 100%;
    padding: 2rem;
    color: #080707;
}
.country {
    width: 100%;
    display: flex;
    font-size: 1rem;
    /* justify-content: space-between; */
    text-align: left;
    margin: 1rem 0;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #dddbda;
    align-items: center;
    border-left: 3px solid;
    border-radius: 0 0.5rem 0.5rem 0;
}
.country:hover {
    background-color: #e1f5fe;
    cursor: pointer;
    text-decoration: none;
}
.country p {
    margin: 0;
}
.country .title {
    font-weight: 600;
    font-size: 1.2rem;
}
.country .icon {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.75rem;
}
.country .icon.time {
    color: #039be5;
    background-image: url(https://developer.salesforce.com/files/js-dev/icons/clock.svg);
    margin-top: 0.2rem;
}
.country .icon.death {
    color: black;
    background-image: url(/resources/slds/icons/utility/sentiment_negative_60.png);
    margin-top: 0.4rem;
}
.country .icon.recovered {
    color: green;
    background-image: url(/resources/slds/icons/utility/smiley_and_people_60.png);
    margin-top: 0.2rem;
}
.country .icon.confirmed {
    color: red;
    background-image: url(/resources/slds/icons/utility/sentiment_neutral_60.png);
    margin-top: 0.2rem;
}
input {
    border: 1px solid #dddbda;
    border-radius: 0.5rem;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 1.5rem;
    font-size: 1rem;
    width: 10.5rem;
}
.country-flag {
    display: flex;
    justify-content: end;
}
.country-flag > img {
    border-radius: 20%;
    height: 5.5rem;
}

.country-main {
    margin-left: 2rem;
}
